@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Oswald&display=swap");
$backgroundColor: #161616;
$foregroundColor: #5e5e5e;
$borderColor: #c4c4c4;
$headerFontFamily: "Oswald", sans-serif;
$headerFontSize: 18pt;
$normalFontSize: 12pt;
$normalFontFamily: "Montserrat", sans-serif;
