@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --backgroundColor: #292929;
  --foregroundColor: #8b8b8b;
  --DYNColor: #e49f24;
  --borderColor: white;
  --buttonSize: 18pt;
  --buttonWeight: 500;
  --primarySize: 18pt;
  --fontFamily: "Montserrat", sans-serif;
}
body {
  margin: 0;
  padding: 0;
  background-color: var(--backgroundColor);
  font-family: var(--fontFamily);
  font-size: var(--normalFontSize);
  box-sizing: border-box;
  color: white;
}

.card.bg-secondary {
  background-color: var(--backgroundColor) !important;
  border: 2px solid var(--DYNColor);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
